services:
  luiza-app:
    volumes:
      - .:/app
      - ./data:/data
      - ./uploads:/uploads
    build: .
    command: sh -c "
      poetry env info
      && poetry config installer.max-workers 10
      && poetry install --no-interaction --no-ansi
      && poetry run flask run -h 0.0.0.0 -p 5000 --debug --reload
      "
    ports:
      - "8096:5000"
    environment:
      FLASK_APP: app
      FLASK_SETTINGS: ../etc/settings_docker.py
      FLASK_ENV: development
      FLASK_DEBUG: 1
