{% extends 'base.html' %}

{% block title -%}{{ data.main_title }}{% endblock %}

{% block css -%}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
{%- endblock %}

{% block js %}
    <script src="{{ url_for("static", filename="js/app.js") }}"></script>
{%- endblock %}

{% block globalBody -%}
  <!-- Первый блок -->
 <div class="hero-section" style="background: url('{{ url_for("landing.uploads", filename=data.hero_bg) }}') center center/cover no-repeat;">
    <div class="main-title">{{ data.main_title }}</div>
    <div class="subtitle">{{ data.subtitle }}</div>
    <div class="social">
      <a href="https://t.me/kateshex" target="_blank" title="Telegram">
        <svg width="30" height="30" viewBox="0 0 30 30" fill="none">
          circle cx="15" cy="15" r="14" stroke="white" stroke-width="2" fillll="none"/>
          <path d="M8 15.4l12-4.5c.5-.2.9.2.8.7l-2 10.6c-.1.5-.7.7-1.1.4l-3-2.4-1.5 1.4c-.1.1-.2.1-.5.1l.2-2.2 7.4-6.7c.3-.3-.1-.6-.5-.5l-9.2 3.7-2.1-.7c-.5-.2-.5-.8.2-1.1z" stroke="white" stroke-width="1.5" fill="none"/>
        </svg>
      </a>
    </div>
    <div class="location">{{ data.location }}</div>
</div>
  <!-- Второй блок -->
<div class="about-section">
  <div class="about-left">
    <h1>{{ data.about_title }}</h1>
    <p>{{ data.about_text }}</p>
    <div class="stats-title">{{ data.about_stats_title }}</div>
    <ul>
      {% for s in data.about_stats %}
      <li>{{ s }}</li>
      {% endfor %}
    </ul>
    <!-- Кнопка скачать PDF -->
    <div class="button-wrapper">
        <a class="button btn-4" href="{{ url_for('landing.uploads', filename='pdf/katishexPresentation.pdf') }}" download>
            <span>ПРЕЗЕНТАЦИЯ</span>
        </a>
    </div>

  </div>
  <div class="about-right" style="background: url('{{ url_for("landing.uploads", filename=data.about_image) }}') center center/cover no-repeat;"></div>
</div>
  <!-- Третий блок -->
  <div class="represented-section">
    <div class="represented-left" style="background: url('{{ url_for("landing.uploads", filename=data.represented_bg) }}') center center/cover no-repeat;"></div>
    <div class="represented-right">
      <div class="represented-title">{{ data.represented_title }}</div>
      <ul class="represented-list">
        {% for agency in data.represented_list %}
          <li>{{ agency }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <!-- Галерея: только содержимое слайда и кнопки -->
{% if data.gallery -%}
    <div class="slide">
        <div class="slides">
            {% for photo in data.gallery %}
                <div class="item" style="background-image: url({{ url_for('landing.uploads', filename=photo.image) }});">
                    <div class="content">
                        <div class="name">{{ photo.header }}</div>
                        <div class="des">{{ photo.text }}</div>
    <!--                    <button>See More</button>-->
                    </div>
                </div>
            {% endfor %}
        </div>

        <!-- Стрелки ВНУТРИ slide, строго внизу -->
        <div class="nav-buttons">
            <div class="nav-btn prev"></div>
            <div class="nav-btn next"></div>
        </div>
    </div>
{%- endif %}

  <!-- Почтовый заключительный блок -->
  <div class="contact-final-section">
    <div class="contact-caption">В ожидании предложений</div>
    <a href="mailto:katyashekh@yandex.ru" class="contact-mail">katyashekh@yandex.ru</a>
  </div>
{% endblock %}
